.card-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    box-sizing: border-box; 
    margin: 30px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 4px gray;
}
.card-container .card-header{
    height: 45%;
    position: relative;
}
.card-header .containerof-pic{
    height: 100%;
}
.edit-button{
    position: absolute;
    right: 0px;
    top: 4px;
    border: none;
    font-size: 23px;
    color: #fff;
    background-color: transparent;
}
.edit-button:hover{
    color: #222;
}

.card-container .card-footer{
    flex-direction: column;
    display: flex;
    height: 55%;
    box-sizing: border-box;
    padding: 20px;
}
.card-footer .paragraf {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    display: inline;
    width: 90%;
    box-shadow: 1px 2px 5px 1px;
    margin: 10px;
    overflow-wrap: break-word;
}