.delete-button{
    display: flex;
    position: absolute;
    border-style: none;
    cursor: pointer;
    color: rgb(235, 7, 7);
    font-size: 27px;
    justify-content: center;
    background-color: transparent;
    padding:2px;
}
.delete-button:hover{
    background-color: rgb(235, 7, 7);
    color: #fff;
    font-size: 30px;
    transition: all .1s;
}