.form-edit{
    display: block;
    margin:90px auto;
    width: 350px;
    height: 370px;
    box-sizing: content-box;
    position: fixed;
    background-color: burlywood;
    border-radius: 4px;
    padding: 20px;
    color: #212020;
    z-index: 1;
}
.form-edit form{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}
.form-edit form input{
    border-style: none;
    outline: none;
    box-shadow: 1px 2px 3px .5px;
    padding: 5px;
    font-size: 16px;
    margin: 10px;
}
.form-edit form label{
    font-size: 18px;
}
.form-edit .buttonEdit{
    border: none;
    outline: none;
    padding: 10px;
    width: 330px;
    margin:20px auto;
    box-shadow: 1px 2px 3px .5px;
}
.form-edit .buttonEdit:hover{
    background-color: #2f2e2e;
    color: #fff;
    transition: all .5s;
}
.form-edit .deletebutton{
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 30px;
    border: none;
    padding: 5px;
display: flex;   
color: red;
 background-color: transparent;
}
.form-edit .deletebutton:hover{
    background-color: rgb(235, 7, 7);
    color: #fff;
    transition: all .1s;
}