body{
   margin: 0px;
   padding: 0px; 
   box-sizing: border-box;
   user-select: none;
}
.container-main{
    display:flex; 
    width: 100%;
    height: 100vh;
}
.main-contant{
    display: flex;
    margin:90px auto;
}