.NavBar-left{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2;
    transition:all 0.5s ease-in-out;
    position: fixed;
    background-color: rgba(96, 96, 96, 0.8);
}
.changeWidthBox{
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 0%;
    top: 0;
    right: 0;
    transition:all 500ms ease-out;
}
.active{
    transition: all .5s;
    z-index: 2;
    position: fixed;
    right: 10px;
    color: #dbd4d4;
    padding: 20px 0px 10px 10px;
    font-size: 35px;
}
.notActive{
    position: fixed;
    right: 10px;
    rotate: 60deg;
    z-index: 2;
    transition: all .5s;
    color: transparent;
    padding: 10px 0px 10px 10px;
}
.active:hover{
    font-size: 40px;
    transition: all .5s;
}
.Add-menu-button .addBTN{
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    margin: 150px 0px;
}
.Add-menu-button .addBTN:hover{
    background-color: #555;
    color: #fff;
    transition: all 1s;
}
.hideAddElement{
    display: none;
}
